*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 20px;
}

/* vw, vh, % */



.container{
    background-color: lightblue;

    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 20% 70% 1fr;
    grid-template-rows: 10rem 70% 1fr;

    grid-template-areas: 
        "sidebar navbar navbar"
        "sidebar main  main"
        "footer  footer  footer"
    ;
}

.navbar{
    background-color: brown;

    grid-area: navbar;
}

.sidebar{
    background-color: blueviolet;

    grid-area: sidebar;


    color: white;

    display: flex;
    flex-wrap: wrap;


}

.sidebar img {
    height: 30%;
    width: 100%;
}

.sidebar h2{
    width: 100%;
}

.main{
    background-color: greenyellow;

    grid-area: main;
}

.footer{
    background-color: black;

    grid-area: footer;
}


/* Media querys */

@media (width <= 1400px){
    .container{
        grid-template-columns: 30% 60% 1fr;
    }
}


@media (width <= 900px){
    .container{
        grid-template-columns: 50% 1fr 1fr;

        grid-template-areas: 
        "navbar navbar navbar"
        "main main  main"
        "footer  footer  footer"
    ;
    }
    .sidebar{
        display: none;
    }
}