*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 20px

}
/*
body{
    height: 100vh;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

*/
/* Posiotion: Relative
div{
    width: 10rem;
    height: 5rem;
    color: white;
}

.box-1{
    background-color: red;

    position: relative;

}

.box-2{
    background-color: blueviolet;

    position: relative;

    top: 5rem;

    left: 2.5rem;

    z-index: 900;

}

.box-3{
    background-color: black;

    position: relative;


} */



/* Ejemplo Position Absolute
.container{
    border: .25rem solid black;
    width: 20rem;
    height: 15rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.content{
    width: 10rem;
    height: 7.5rem;
    position: relative;

    border: .25rem solid red;
}

.element{
    width: 5rem;
    height: 5rem;
    background-color: blue;

    position: absolute;
    
    bottom: 0;
    right: 0;


} */

.container{
    background-color: lightcyan;
    width: 20rem;
    height: 20rem;



    position: relative;
}

.element{
    background: red;
    color: white;
    padding: .8rem;

    width: 100%;

    position: sticky;
    /* right: 0; */
    top: 0;

    opacity: 70%;

}

.p-1{
    background-color: lightgreen;
    

}

.p-2{
    background-color: lightskyblue;
}