@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

    font-size: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
/*
.box{
    width: 20rem;
    height: 20rem;
    background-color: red;

    /* transition-property: width , 
                        border;
    transition-duration: 3s;
    transition-timing-function: linear; 

    /* transition: all 2s linear; 

    animation: mover 2s  infinite 0s,
               rotacion 3s infinite 3s
    ;
}*/

/* .box:hover{
    background-color: green;

    width: 30rem;

    border: .5rem dashed black;
} */

/* @keyframes mover{
    0%{
        transform: translate(10rem, 5rem);
        background-color: blue;
    }
}

@keyframes rotacion{
    to{
        transform: rotate(360deg);
        background-color: cyan;
    }
} */


/* b::before{
    content: '<-------gfhsh';
    color: red;
}

b::after{
    content: 'sdsgasdrg----->>>>';
    color: red;
} */


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}

.container{
    background-color: darkgray;
    width: 20rem;
    height: 25rem;

    border-radius: .5rem;
    position: relative;

    overflow: hidden;

}

.container::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    background-color: red;
    width: 20rem;
    height: 25rem;

    transform-origin: bottom right;
    animation: animation 5s linear infinite;
    animation-delay: 3s;

}

.container::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    background-color: blue;
    width: 20rem;
    height: 25rem;
    animation: animation 5s linear infinite;
    transform-origin: bottom right;
    
}

@keyframes animation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.login{
    padding: 2.5rem 2rem;
    background-color: black;

    display: flex;
    flex-direction: column;

    position: absolute;
    inset: .3rem;

    z-index: 2;
}

.title-login{
    color: gray;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}


.input-login{
    width: 15rem;
    margin-top: 2rem;
}


.person{
    color: black;
    position: relative;
    top: 2rem
}

.input-login .input{
    width: 100%;
    padding: .5rem 0 ;
}

.input-login_span{
    color: gray;
    /* padding: 1rem 0 .5rem; */
}

.login-links{
    display: flex;
    justify-content: space-between;
}

.login-links .link{
    margin: .5rem 0;
    font-size: .8rem;
    color: gray;
    text-decoration: none;
}

.button{
    margin-top: .5rem;
    padding: .5rem;
    width: 10rem;
    cursor: pointer;
    border-radius: .5rem;
    font-weight: bold;
    opacity: 80%;
}