*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-size: 20px;
}



body{

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}


.container{
    
    color: white;
    text-align: center;
    height: 80vh;
    width: 80%;
    background-color: black;

    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem repeat(2, 1fr) 5rem; */
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;
    
    grid-template-areas:
        "header header content-1 sidebar sidebar"
        "content-2 content-3 content-1 sidebar sidebar"
        "content-5 content-3 content-4 content-4 content-4"
        
  
    ;

}


.box-1{
    background-color: red;
    /* font-size: 3rem; */

    /* grid-row: 1/2;
    grid-column: 1/-4; */

    /* grid-row: span 1;

    grid-column: span 3; */

    grid-area: header;
}
.box-2{
    color: black;
    background-color: greenyellow;
    /* font-size: 3rem; */

    /* grid-column: 1/2;
    grid-row: 2/4; */
    /* grid-column:span 1 ;

    grid-row: span 2; */

    grid-area: sidebar;
}
.box-3{
    /* font-size: 3rem; */
    background-color: blue;
    /* grid-column: 2/4; */

    /* grid-column: span 2;
    grid-row: span 1; */

    grid-area: content-1;
}
.box-4{
    /* font-size: 3rem; */
    background-color: lightcoral;

    grid-area: content-2;
}
.box-5{
    /* font-size: 3rem; */
    background-color: purple;

    grid-area: content-3;
}
.box-6{
    /* font-size: 3rem; */
    background-color: lightskyblue;

    /* grid-column: 1/4;
    grid-row: 4/5; */

    grid-area: content-4;
}

.box-7{
    /* font-size: 3rem; */
    background-color: rgb(227, 128, 240);
    grid-area: content-5;

}
/*
.box-8{
     font-size: 3rem; 
    background-color: rgb(237, 202, 26);

    grid-area: content-6;
}
.box-9{
    /* font-size: 3rem; 
    background-color: rgb(133, 255, 249);

    /* grid-column: 1/4;
    grid-row: 4/5; 

    grid-area: footer;
}

*/