*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title{
    color: #2291db;
    width: 300px;

    margin: 20px 0 0 100px;

    padding: 20px;

}

.container-card{
    width: 300px;
    margin: 30px 0 0 100px;
}

.card{
    background-color: #2291db;
    width: 300px;
    overflow: hidden;

    border-radius: 15px;
}

.image{
    width: 300px;
    height: 220px;
}

.content{
    padding: 15px;
}


.card-title{
    margin: 0 0 15px 0;
    color: white;
}

.paragraph{
    margin: 0 0 15px 0;
    line-height: 1.6;
}

.card-buttom{
    margin-top: 10px;
}

.buttom{
    background-color: white;
    color: #2291db;

    padding: 10px;

    margin: 10px 0 0 0;

    text-decoration: none;

    border: 3px solid black;

    border-radius: 16px;
}

/* aplicar pseudoclases */

.buttom:hover{
    color: white;
    background-color: black;
    border: 3px solid white;
}

.content:active{
    background-color: white;
    color: black;
}
.card-title{
    color: black;
}

/* pseudoelemento */ 

::selection{
    background-color: blueviolet;
    color: white;
}