*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 20px;
}

:root{
    --color-primario: #6E78FF;
    --color-secundario: #4bca19;
    --tercer-color:#916CFE;
    --cuarto-color:#7EAFFC;
}

body{
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


div{
    width: 10rem;
    height: 10rem;
}


.box-0{
    background: linear-gradient(limegreen, var(--color-secundario));
    border-radius: 50% 0 50% 0;
}

.box-1{
    background: var(--color-primario);

    border-radius: 50%;
}

.box-2{
    background-color: var(--color-secundario);

    --size: 400px;
    --half-size: calc(var(--size) / 2);
    --gradient: linear-gradient(30deg,var(--color-primario), var(--color-secundario));

    width: var(--size);
    height: var(--half-size);
    background: var(--gradient);

    border-radius: 50% 50% / 100% 100% 0 0;

}

.box-3{
    background-color: var(--tercer-color);


    width: 0;
    height: 0;

    border-left: 5rem solid white;
    border-right: 5rem solid white;

    border-bottom: calc(5rem * 1.5) solid blueviolet;

    
}

.box-4{
    width: 0;
     height: 0;
     border-top: 40px solid transparent;
     border-right: 80px solid black;
     border-bottom: 40px solid transparent;
}

